<h1>School</h1>
{{ schoolQuery.all$ | async | json }}
<div
  *ngFor="let school of schoolQuery.all$ | async; trackBy: trackBySchool"
  style="margin-bottom: 5px;"
>
  <input
    placeholder="name"
    [ngModel]="school.name"
    (ngModelChange)="updateSchool(school.id, 'name', $event)"
  />
  <button (click)="removeSchool(school.id)">Remove</button>
</div>
<hr />
<ng-container *ngIf="simpleQuery.state$ | async as simpleState">
  <h1>Simple</h1>
  {{ simpleState | json }}
  <input
    placeholder="Simple name"
    [ngModel]="simpleState.name"
    (ngModelChange)="updateSimple('name', $event)"
  />
</ng-container>
<hr />
<h1>App</h1>
<div *ngFor="let app of appQuery.all$ | async; trackBy: trackByApp">
  {{ app | json }}
  <hr />
  <button (click)="addSchool(app.id)">Add school</button>
</div>
<button (click)="addNew()">Add new</button>
